{
    "env": { "es6": true, "node": true },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": ["@typescript-eslint"],
    "rules": {
        "semi": "off",
        "no-console": "error",
        "camelcase": "off",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/semi": ["off"],
        "@typescript-eslint/ignoreRestArgs": true,
        "@typescript-eslint/fixToUnknown": true
    }
}
